[submodule "LeaningSystem-bakend"]
	path = LeaningSystem-bakend
	url = https://gitee.com/enhead/LeaningSystem-bakend.git
[submodule "LeaningSystem-frontend"]
	path = LeaningSystem-frontend
	url = https://gitee.com/enhead/LeaningSystem-frontend.git
