[submodule "LearningSystem-bakend"]
	path = LearningSystem-bakend
	url = https://gitee.com/enhead/LearningSystem-bakend.git
[submodule "LearningSystem-frontend"]
	path = LearningSystem-frontend
	url = https://gitee.com/enhead/LearningSystem-frontend.git
